<% provide(:title, "個人情報のお取り扱い") %>
<div id="container">
  <div id="content" style="width: 700px">
  <div id="content-copy">
    <hgroup>
      <h1>MonDo</h1>
      <h2>PRISM 30DAYS CHALLENGE</h2>
    </hgroup>
  </div>
    <hr>
    <h2 class="text-muted">個人情報のお取り扱い</h2>
    <hr>
    <div class="text-left">
    <h3>個人情報保護に関する基本方針</h3>
		<p>プライバシーポリシー</p>
		<p>株式会社北摂情報学研究所（以下、「当社」という。）は，高度情報通信社会における個人情報保護の重要性に鑑み，以下の方針に基づき，当社が保有する個人情報の適正な管理・保護に努めます。</p>
		<p><strong>１　法令等の遵守</strong><br />
当社は，個人情報保護法をはじめとする個人情報保護関連法令及び行政機関が定める方針・ガイドライン等を遵守します。</p>
		<p><strong>２　個人情報保護に関する内規の整備・遵守</strong><br />
個人情報保護についての社内規程を整備し，それを遵守することで個人情報の保護を図ります。</p>
		<p><strong>３　個人情報管理体制の確立</strong><br />
社内における個人情報管理体制を確立し，社内での責任の所在を明確にします。</p>
		<p><strong>４　安全管理措置の実施</strong><br />
安全管理措置を実施し，個人情報への不正アクセス，個人情報の紛失・破壊・改ざんおよび漏洩等に対する予防策を講じます。</p>
		<p><strong>５　従業者への啓発活動・監督の実施</strong><br />
個人情報保護に関し、従業員への啓発活動を実施し，情報管理に対する知識習得と意識向上を図り、保有個人情報の適正な管理を目指します。</p>
		<p><strong>６　業務改善への取り組み</strong><br />
保有個人情報が適正に管理されているか従業者を定期的に監督し，継続的に業務改善への取り組みを実施します。</p>
		<p><strong>７　事故発生時の対策</strong><br />
万一，事故が発生した場合には，速やかに事実関係の調査を行い，お客様に対し必要な情報を提供するとともに，再発防止策を含む適切な措置を講じます。</p>
		<p><strong>８　相談担当の明確化</strong><br />
お客様からの問い合わせ，苦情および要望に対応するための相談担当を定め，迅速かつ誠意ある対応を目指します。</p>
		<p><strong>９　個人情報保護方針の公開</strong><br />
本方針を含む個人情報保護に関する方針をウェブサイト等に掲載することにより，広く社会に公開します。</p>
		<p><br class="spacer" /></p>
		<hr class="full_hr" />
		<p><br class="spacer" /></p>

		<h3>個人情報保護に関する取扱い</h3>
		<p>プライバシーステートメント</p>
		<p><strong>第１　法令遵守</strong><br />
当社は，個人情報保護法その他の個人情報関連法令，行政機関の発行するガイドライン及び当社「個人情報保護に関する基本方針」を遵守し，個人情報保護の徹底を図ります。</p>
		<p><strong>第２　個人情報の取得について</strong></p>
		<ol class="list1" ><li>個人情報とは、生存する個人に関する情報であり、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む。）をいう。</li>
		<li>当社による個人情報の取得は，適切かつ公正な手段によるものとする。当社は，個人情報の取得に際し，その利用目的を，あらかじめ本人に示すこととする。法令に定めがある場合は，この限りではない。</li></ol>
		<p><strong>第３　個人情報の利用について</strong></p>
		<ol class="list1" ><li><strong>利用目的</strong><br />
当社は，その取得した個人情報につき，以下の利用目的の達成に必要な範囲に限り利用いたします。
<ol class="list2" ><li>当社の製品およびサービスに関するご案内のため</li>
<li>メールマガジン、ニュースレター等による定期的な情報提供のため</li>
<li>お客様から寄せられたご質問、ご意見、ご要望にお応えするため</li>
<li>当社の製品およびサービスを提供するため</li>
<li>お支払い手続きのため</li>
<li>サポート業務のため</li>
<li>契約の更新案内のため</li>
<li>緊急時に連絡を行うため</li>
<li>当社の製品またはサービスの開発・向上を目的とした分析及び調査並びにベータテストの依頼に関する通知のため</li>
<li>お客様の同意を得て、お客様のサイトを弊社の実績紹介として掲載等を行うため</li></ol></li>
		<li>当社が，利用目的を変更した場合は，変更された利用目的について，本人に通知し，又は公表するものとする。法令に定めがある場合はこの限りではない。</li></ol>
		<p><strong>第４　個人情報の管理について</strong></p>
		<ol class="list1" ><li><strong>安全管理措置</strong><br />
当社は，その保有する個人情報を正確かつ最新の内容に保つよう努めるとともに，その個人情報につき，漏えい、滅失又は毀損を防止するため，必要かつ適切な安全管理措置を講じます。</li>
		<li><strong>従業者の監督</strong><br />
当社は，保有個人情報の安全管理が図られるよう従業者に対する必要かつ適切な監督をします。また，従業者に対して個人情報の適正な取扱いの確保のために必要な教育研修を実施します。</li>
		<li><strong>委託先の監督</strong><br />
当社は，お客様等の個人情報の取扱いの全部又は一部を利用目的の範囲内において第三者に委託する場合があります。<br />
委託先の選定にあたっては，委託先が個人情報を適正に取扱っていることを確認し，お客様等の個人情報の適正な取扱いを求めます。また，当該契約には個人情報の取扱いの監査に関する項目を含めるなど委託先に対して必要かつ適切な監督を行います。</li>
		<li><strong>第三者への提供</strong><br />
当社は，法令に定める場合を除き，本人の同意なく，その保有する個人情報を第三者に提供することはありません。</li></ol>
		<p><strong>第５　保有個人情報の開示等について</strong></p>
		<ol class="list1" ><li><strong>保有個人情報についての各種申請</strong><br />
当社の保有個人情報に関し，本人若しくはその代理人の方から申請があった場合には，個人情報の保護に関する法律に従い，以下のとおり対応いたします。
<ol class="list2" ><li>「利用目的の通知」<br />
本人が識別される保有個人情報の利用目的を通知いたします。<br />
ただし，個人情報保護法第１８条４項各号に定める場合には，申請にお応えしかねる場合があります。その場合は、その理由を通知致します。</li>
<li>「開示」<br />
本人が識別される保有個人情報を開示いたします。当社が本人を識別可能な個人情報を保有していないときはその旨を回答いたします。<br />
ただし，個人情報保護法２５条１項各号に定める場合には，ご申請にお答えしかねる場合があります。その場合は，その理由を通知致します。</li>
<li>「訂正等」
<ol class="list3" ><li>ご本人が識別される保有個人情報の内容が事実でないという理由によって当該保有個人情報の内容の訂正，追加又は削除（以下「訂正等」という。）を求められた場合には，その内容の訂正等に関して法令の規定により特別の手続が定められている場合を除き，利用目的の達成に必要な範囲内において，遅滞なく必要な調査を行います。<br />
その結果，保有個人情報の内容の訂正等を行ったときは，遅滞なく，その内容を通知いたします。訂正等を行わない旨の決定をしたときは，その理由を通知致します。</li>
<li>なお，お客様ご自身が登録された情報については，下記ページから，ご自身で，その情報の訂正，追加を行うことができます。<br />
<a href="http://apps.mondo30.com/edit">登録情報の確認・変更ページへ</a>　<span style="font-size:12px;display:inline;line-height:130%;text-indent:0px">※MonDoへのログインが必要です。</span></li></ol></li>
<li>「利用停止等」<br />
当該保有個人情報の利用の停止，消去又は第三者への提供の停止（以下「利用停止等」という。）を求められた場合であって，その求めに理由があることが判明したときは，違反を是正する範囲で必要な限度で，遅滞なく，当該保有個人情報の利用停止等を行います。<br />
ただし，当該保有個人情報の利用停止等に多額の費用を要する場合その他の利用停止等を行うことが困難な場合は，ご本人の権利利益を保護するため必要なこれに代わるべき措置をとることでそれに代えさせて頂くことがあります。<br />
保有個人情報の全部若しくは一部について利用停止等を行ったときは，ご本人に対し，遅滞なく，その旨を通知いたします。利用停止等を行わない旨の決定をしたときは，ご本人に対し，遅滞なく，理由を付してその旨を通知いたします。</li></ol></li>
		<li><strong>保有個人情報についての各種申請要領</strong>
<ol class="list2" ><li>該当する申請用紙，必要書類及び手数料（「利用目的の通知」及び「開示」のご申請の場合）を以下にお送りください。</li>
<li>送付先
<pre>〒567-0893
大阪府茨木市玉瀬町４１－５　エクレールミシマ １０３号室
株式会社北摂情報学研究所　プライバシーポリシー管理担当行</pre></li>
<li>申請用紙<br />
以下よりダウンロードの上，ご記入下さい。
<div class="well"><div style="text-align:center">
	保有個人情報についての申請書.pdf（78KByte）　　　<a href="http://hokuken.com/swfu/d/appli-20100705.pdf" class="btn">ダウンロード</a>
</div></li>
<li>必要書類
<ol class="list3" ><li>本人確認のため，以下の書類の添付をお願いいたします。<br />
代理人による申請の場合は，代理権が確認できる書類と合わせて，代理人の本人確認書類の添付をお願いいたします。</li>
<li>本人確認書類（代理人による申請の場合，本人及び代理人の双方について本人確認書類の添付をお願いいたします。）<br />
運転免許証，パスポート，健康保険証，写真付き住民基本台帳カード，年金手帳，障がい者手帳，外国人登録証明書の写し，印鑑登録証明書のいずれか1点のコピー（印鑑登録証明書については市区町村が発行した写し自体）</li>
<li>住所確認書類<br />
上記確認書類に住所の記載がない場合は，送付先確認のため，住民票又は外国人登録原票の写し（申請日から３か月以内に発行されたもの）の添付もあわせてお願いいたします。</li>
<li>代理権確認書類<br />
（法定代理人の場合）<br />
戸籍謄本，成年後見登記事項証明書等，法定代理人であることが証明できる書類<br />
（任意代理人の場合）<br />
委任状（ご本人の印鑑登録済の印鑑の捺印があり，印鑑登録証明書の添付があるもの）<br />
なお，任意代理人からのご申請の場合，必要に応じて，ご本人に対して委任の有無をご確認し，又はご本人宛に直接開示等の対応をする場合があります。</li>
<li>手数料<br />
「利用目的の通知」及び「開示」のご申請の場合は，手数料として500円分の郵便切手をご同封ください。</li></ol></li></ol></li></ol>
<p><strong>第６ 苦情処理体制の確立，適切かつ迅速な処理</strong></p>
<ol class="list1" ><li>当社は，適切な苦情処理体制を整備し，個人情報の利用，提供，開示又は訂正等に関する苦情その他の個人情報の取扱いに関する苦情の適切かつ迅速な処理に努めます。</li>
<li>当社の個人情報保護に関するお問い合わせは下記メールアドレス宛の問い合わせによる方法にてお願いいたします。
<p><a mailto="tanaka_kc@icloud.com">tanaka_kc@icloud.com</a></p>
      <hr>
    </div>
  </div>
  <p><%= link_to "トップページへ", root_path %></p>
  <%= render 'shared/footer' %>
</div>
