      #container {
	      text-align: center;
	      width: 800px;
	      margin: 30px auto 100px auto;
      }
      
      #content_post {
	      width: 500px;
	      margin-left: auto;
	      margin-right: auto;
      }
      
      #content-copy {
	      margin-bottom: 0;
	      text-align: left;
      }
      
      #content-copy h1{
	      letter-spacing: 4px;
	      font-size: 30px;
	      font-family: 'Chelsea Market', cursive;
      }
      
      #content-copy h2{
	      font-size:12px;
	      letter-spacing: 2px;
	      margin-top: 0;
	      font-family: 'Chelsea Market', cursive;
      }
      
      a h1, h2{
	      color: #333;
          text-decoration: none;
      }
      
      a:hover h1, h2{
	      color: #333;
          text-decoration: none;
      }
      
      #logout {
	      font-size: 12px;
	      opacity: 0.6;
      }
      
      #to_index {
	      font-size: 12px;
	      opacity: 0.6;
      }
      
      #big_date {
          font-family: 'Chelsea Market', cursive;
	      font-size: 250px;
	      margin: 40px 0;
      }
      
      #content_post .btn-default {
	      font-weight: 200;
	      font-size: 16px;
	      letter-spacing: 1px;
	      color: #ffffff;
	      background: #333333;
	      border-color: #282828;
	      width: 94px;
      }
      
      #content_post .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	      font-weight: 200;
	      font-size: 16px;
	      letter-spacing: 1px;
	      color: #ffffff;
	      background: #999999;
	      border-color: #828282;
      }
      
      .modal-footer .btn-default {
	      font-weight: 200;
	      font-size: 16px;
	      letter-spacing: 1px;
	      color: #ffffff;
	      background: #333333;
	      border-color: #282828;
	      width: 94px;
      }
      
      .modal-footer .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	      font-weight: 200;
	      font-size: 16px;
	      letter-spacing: 1px;
	      color: #ffffff;
	      background: #999999;
	      border-color: #828282;
      }
      
