<% provide(:title, "30DAYS CHALLENGEについて") %>
<div id="container">
  <% if signed_in? %>
    <%= render 'shared/hgroup6' %>
    <br><br><br>
  <% else %>
    <%= render 'shared/hgroup2' %> 
  <% end %>   
  <div id="content-movie">
    <iframe src="//player.vimeo.com/video/79758437?title=0&amp;byline=0&amp;portrait=0" width="500" height="333" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <br><br>
    <div style="width: 500px; margin: 0 auto;">
      <p style="font-size: 14px; margin-bottom: 30px;" align="left">30日間、自身に問いかけることによって<br>卓越道の歩みを強めるためのWebサービスです。</p>
    </div>
    <% unless signed_in? %>
      <p><%= link_to "もどる", root_path, :'data-no-turbolink' => "true" %></p>
    <% end %>
  </div>
  <% unless signed_in? %>  
    <%= render 'shared/footer' %>
  <% end %>
</div>
