<% provide(:title, "30DAYS CHALLENGEについて") %>
<div id="container">
  <%= render 'shared/hgroup2' %>    
    <div id="content-movie">
    <iframe src="http://embed.ted.com/talks/lang/ja/matt_cutts_try_something_new_for_30_days.html" width="500" height="281" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <br><br>
    <p style="font-size: 14px; margin-bottom: 30px;" align="left">30日間、自身に問いかけることによって<br>卓越道の歩みを強めるためのWebサービスです。</p>
    <p>
      <a data-no-turbolink='true' href="/">サインアップ</a>　/　
      <a data-no-turbolink='true' href="/login">ログイン</a>
    </p>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>