<% provide(:title, "本登録完了") %>
<div id="container">
  <%= render 'shared/hgroup' %>
  <div id="signup-form">
    <div class="text-success" style="font-size: 18px;"><%= "ようこそ、MonDoへ！" %></div>
    <br>
    <iframe src="http://embed.ted.com/talks/lang/ja/matt_cutts_try_something_new_for_30_days.html" width="500" height="281" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <br><br>
    <iframe src="//player.vimeo.com/video/79758437?title=0&amp;byline=0&amp;portrait=0" width="500" height="333" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <br><br>
    <p><%= link_to "はじめる", days_index_path, class: "btn btn-default" %></p>
  </div>
</div>