<% provide(:title, "登録完了") %>
<div id="container">
  <%= render 'shared/hgroup' %>
  <div id="signup-form">
    <div class="panel panel-success" style="width: 350px; margin-left: auto; margin-right: auto;">
      <div class="panel-heading">
        <h3 class="panel-title">確認メールを送信しました</h3>
      </div>
      <div class="panel-body">
        <%= "touch@toiee.jpのメールを確認し、"%>
        <br>
        <%= "本登録URLをクリックしてください。" %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>