<footer id="detail">
  <p>
    <%= link_to detail_path do %>
      <strong>30Days CHALLENGE</strong>について
    <% end %>　|　
    <a href="#">privacy policy</a>　|　
    <a href="#">about us</a>
  </p>
  
  <br>
  <p>© 2013 toiee</p>
</footer>