<footer id="detail" class="text-center">
  <p>
    <%= link_to about_path do %>
      <strong>30Days CHALLENGE</strong>について
    <% end %>　|　
    <%= link_to "プライバシーポリシー", privacy_policy_path%>
  </p>

  <br>
  <p>© <%= Time.now.year %> tanakakc</p>
</footer>
