<footer id="detail">
  <p>
    <%= link_to detail_path do %>
      <strong>30Days CHALLENGE</strong>について
    <% end %>　|　
    <%= link_to "privacy_policy",  '/privacy_policy'%>　|　
    <a href="http://toiee.jp">about us</a>
  </p>
  
  <br>
  <p>© 2013 toiee</p>
</footer>