<div id="content-copy" style="display: inline-block; width: 800px;">
  <hgroup class="pull-left">
    <%= link_to days_index_path do%>
    <h1 style="display: inline-block;">MonDo</h1>
    <h2 style="display: inline-block;">PRISM 30DAYS CHALLENGE</h2>
    <% end %>
  </hgroup>
  <div class="pull-right">
    <span class="mondo_nav" title="MonDo解説ページへのリンク"><%= link_to "？", {controller: "users", action: "detail"}, target: "_blank" %>　/　</span>
    <span class="mondo_nav"><%= link_to "一覧へ", days_index_path %>　/　</span>
    <span class="mondo_nav"><%= link_to "ログアウト", logout_path, method: "delete" %></span>
  </div>
</div>