<div id="content-copy" style="display: inline-block; width: 800px;">
  <hgroup>
    <h1 style="display: inline-block;">MonDo</h1>
    <h2 style="display: inline-block;">APPS 30DAYS CHALLENGE</h2>
  </hgroup>
  <span class="pull-right" id="logout"><%= link_to "ログアウト", logout_path, method: "delete" %></span>
  <span class="pull-right" id="to_index"><%= link_to "一覧へ", days_index_path %>　/　</span>
</div>