// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	     /* background: url(./img/ricepaper2.png) repeat;*/
      }
      
      #container {
	      text-align: center;
	      width: 800px;
	      margin: 100px auto;
      }
      
      #signup {
	      width: 500px;
	      margin-left: auto;
	      margin-right: auto;
      }
      
      #signup-copy {
	      margin-bottom: 50px;
      }
      
      #signup-copy h1{
	      letter-spacing: 4px;
	      font-size: 70px;
	      /*font-family: 'Londrina Outline', cursive;*/
	      /*font-family: 'Skranji', cursive;*/
	      font-family: 'Chelsea Market', cursive;
      }
      
      #signup-copy h2{
	      font-size: 23px;
	      letter-spacing: 2px;
	      /*font-family: 'Londrina Outline', cursive;*/
	      /*font-family: 'Skranji', cursive;*/
	      font-family: 'Chelsea Market', cursive;
      }
      
      #signup-form p{
	      font-size: 16px;
      }
      
      #signup-form input{
	      width: 250px;
	      margin-left: auto;
	      margin-right: auto;
      }
      
      #signup-form .btn-default {
	      font-weight: 200;
	      font-size: 16px;
	      letter-spacing: 1px;
	      color: #ffffff;
	      background: #333333;
	      border-color: #282828;
	      width: 94px;
      }
      
      #signup-form .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	      font-weight: 200;
	      font-size: 16px;
	      letter-spacing: 1px;
	      color: #ffffff;
	      background: #999999;
	      border-color: #828282;
      }
      
      .modal-footer .btn-default {
	      font-weight: 200;
	      font-size: 16px;
	      letter-spacing: 1px;
	      color: #ffffff;
	      background: #333333;
	      border-color: #282828;
	      width: 94px;
      }
      
      .modal-footer .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	      font-weight: 200;
	      font-size: 16px;
	      letter-spacing: 1px;
	      color: #ffffff;
	      background: #999999;
	      border-color: #828282;
      }
      
      #detail{
	      margin-top: 70px;
      }
      
      #detail p{
	      color: #888888;
      }
      
      #detail a{
	      color: #888888;
      }
      
      #detail strong{
	      /*font-family: 'Londrina Outline', cursive;*/
	      /*font-family: 'Skranji', cursive;*/
	      font-family: 'Chelsea Market', cursive;
	      letter-spacing: 2px;
	      
      }